.profile-picture {
  border-radius: 50%;
  border: none;
  outline: none;
  width: 30%;
}

.profile-info-container {
  background-color: bisque;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.edit-icon {
  &:hover{
    cursor:pointer
  }
}